# ==============================================================================
# Configuración del Entorno de Base de Datos (MariaDB)
# ==============================================================================
# Nombre de la base de datos principal que MariaDB creará al inicializarse
MARIADB_DATABASE=nombre_de_la_base_de_datos

# Usuario general que usarán los plugins (LuckPerms, CoreProtect, AuthMe, etc.)
MARIADB_USER=tu_usuario_aqui

# Contraseña segura para el usuario de los plugins
MARIADB_PASSWORD=tu_contraseña_super_segura

# Contraseña del usuario ROOT (administrador absoluto de la base de datos)
MARIADB_ROOT_PASSWORD=tu_contraseña_root_super_segura

# ==============================================================================
# Configuración de Seguridad de la Red (Proxy)
# ==============================================================================
# Secreto único para el "Modern Forwarding".
# Este código asegura que los jugadores no puedan saltarse el Proxy para entrar
# directamente al Lobby o Survival falsificando su IP.
# (Debe coincidir con el 'forwarding-secret-file' o configuraciones de Paper)
VELOCITY_SECRET=tu_secreto_generado_aleatoriamente
